
@{
    ViewBag.Title = "CoordinatorsDashboardtest";
}

@model  FYPWeb.Model.ManageCourse
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff" rel="stylesheet">
    <link rel="stylesheet" href="~/CSS/Slide Bar .css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUML</title>
    <link rel="shortcut icon" type="image/png" href="~/Images/logo.png" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css.map" />
    <link rel="stylesheet" href="~/fonts/Font/font-awesome/css/all.min.css" />
    <style>
        .no-vertical-borders {
            border-left: none !important;
            border-right: none !important;
        }
    </style>
</head>

<body>


    <ul id="slide-out" class="side-nav fixed z-depth-2" style="font-size: 1.5rem">
        <li class="center no-padding">
            <div class="indigo darken-2 white-text" style="height: 180px;">
                <div class="row">
                    <img style="margin-top: 5%;" width="100" height="100" src="~/Images/Graduation Cap.png" class="responsive-img" />
                    <p style="color:black">
                        Coordinator
                    </p>
                </div>
            </div>
        </li>
        <li id="dash_dashboard"><a class="waves-effect" style="font-size: 1.5rem" href="@Url.Action("CoordinatorsDashboard","Coordinators")"><i class="fa fa-home"></i>&nbsp;&nbsp;<b>Dashboard</b></a></li>
        <li id="dash_dashboard"><a class="waves-effect" style="font-size: 1.5rem" href="@Url.Action("Logout","Student")"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;<b>Logout</b></a></li>


    </ul>

    <header>

        <nav class="indigo" role="navigation">
            <div class="nav-wrapper">
                <a data-activates="slide-out" class="button-collapse show-on-" href="#!"><img style="margin-top: 17px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>

    </header>
    <main>
        <div class="row" style="Width:95%; margin-left:2%">


            <div class="col s12">
                <div style="padding: 35px 35px 0 35px; " align="center" class="card">
                    <div class="row" style="margin:0">
                        <div class="left card-title">
                            <b>Profile Detail</b>
                        </div>
                    </div>
                    <div class="row">
                        <a href="">
                            <div style="padding: 10px 30px 30px 30px ;" class="lighten-3 col s12 waves-effect">
                                <div class="row">
                                    <!-- Profile Picture Column -->
                                    <div class="col s12 m4">
                                        <img src="~/Images/Rectangle 1.jpg" class="responsive-img" style="border-radius: 20%;" alt="Profile Picture" />
                                    </div>
                                    <!-- End Profile Picture Column -->
                                    <!-- Profile Details Column -->
                                    <div class="col s12 m8" style="color:black">
                                        <div style="text-align:left; font-family: Minion Variable Concept;">
                                            <h2>@Model.coordinator.Name</h2>
                                            <h3>System ID : @Model.coordinator.EmpId</h3>
                                            <h3>Department :@Model.coordinator.Department)</h3>
                                        </div>
                                    </div>

                                    <!-- End Profile Details Column -->
                                </div>

                            </div>

                        </a>

                        <div class="col s1">&nbsp;</div>
                        <div class="col s1">&nbsp;</div>

                    </div>

                </div>

            </div>
            <br />
            <br />
            <br />
            <div class="container">

                <div class="container">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h1>Search Student</h1>
                        </div>
                    </div>

                    @using (Html.BeginForm("Studentdata", "Coordinators", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row mb-4">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="SemesterId">Semester:</label>
                                    @Html.DropDownListFor(model => model.student.CurrentSemester, new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "1", Value = "1" },
                                        new SelectListItem { Text = "2", Value = "2" },
                                        new SelectListItem { Text = "3", Value = "3" },
                                        new SelectListItem { Text = "4", Value = "4" },
                                        new SelectListItem { Text = "5", Value = "5" },
                                        new SelectListItem { Text = "6", Value = "6" },
                                        new SelectListItem { Text = "7", Value = "7" },
                                        new SelectListItem { Text = "8", Value = "8" },
                                        new SelectListItem { Text = "9", Value = "9" },
                                        new SelectListItem { Text = "10", Value = "10" },
                                        new SelectListItem { Text = "11", Value = "11" }
                                    }, "-- Select Semester --", new { @class = "form-control", @required = "required", @id = "SemesterId" })
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="BatchNumber">Batch:</label>
                                    @Html.DropDownListFor(model => model.student.Batch, new SelectList(Model.Batches, "Bid", "BNumber"), "-- Select Batch --", new { @class = "form-control", @required = "required", @id = "BatchNumber" })
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="ProgramId">Program:</label>
                                    @Html.DropDownListFor(model => model.student.Department, new SelectList(Model.programmes, "ProgrammeId", "ProgrammeName"), "-- Select Program --", new { @class = "form-control", @required = "required", @id = "ProgramId" })
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <input type="submit" class="btn btn-primary" value="Search" />
                            </div>
                        </div>
                    }

                    @if (Model.Studentslist != null)
                    {
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SystemID</th>
                                            <th>Name</th>
                                            <th>Batch</th>
                                            <th>Semester</th>
                                            <th>Program</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var student in Model.Studentslist)
                                        {
                                            <tr>
                                                <td>@student.SystemID</td>
                                                <td>@student.Name</td>
                                                <td>@student.Batch</td>
                                                <td>@student.Semester</td>
                                                <td>@student.Program</td>
                                                <td><a href="@Url.Action("StudentCourse","Coordinators" , new { studentId = student.StudentId })"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </main>

</body>
</html>



