@model FYPWeb.Model.StdResult
@{
    ViewBag.Title = "Transcript";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUML</title>
    <link rel="shortcut icon" type="image/png" href="~/Images/logo.png" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css.map" />
    <link rel="stylesheet" href="~/fonts/Font/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/CSS/Table.css" />
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <center>
        <section>
            <div class="container-fluid" style="padding: 0;">
                <div class="row" style="height: 100vh; overflow-y: auto;">
                    <div class="col-lg-2" style="background-color: #8EA1E6; height:100%">
                        <div style="background: #2B2941; width: 65%;  border-radius: 20px; margin: 40px;padding:10% ">
                            <img src="~/Images/Graduation Cap.png" style="width:70%;height:auto;margin-right:-6%" />
                        </div>
                        <div class="row">
                            <a href="@Url.Action("Dashboard","Student")" style="color:black">
                                <div class="col-lg-12">
                                    <div class="col-lg-3" style="margin-left:3%">
                                        <img src="~/Images/Vector.png" />
                                    </div>
                                    <div class="col-lg-8">
                                        <p style="font-family:Minion Variable Concept; font-weight:bold;font-size:medium">Student Dashboard</p>
                                    </div>
                                </div>
                            </a>
                            <div class="col-lg-12" style="margin-top:150%">
                                <a href="@Url.Action("Logout","Student")" style="color:black">
                                    <div class="col-lg-2" style="margin-left:3%">
                                        <i class="fa fa-sign-out"></i>
                                    </div>
                                    <div class="col-lg-9">
                                        <p style="font-family:Minion Variable Concept; font-weight:bold;font-size:medium">Log out</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-10" style="background-color: #FFFFFF; height:100%">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <h1>Unoffical</h1>
                                </div>
                                <div class="col-lg-4">

                                </div>
                                <div class="col-lg-4">
                                    <a href="@Url.Action("PrintAll","Student")"><i style="font-size:50px;margin-top:8%" class="fa fa-download"></i></a>
                                </div>
                            </div>
                            @{
                                decimal? SemGPA = 0;
                            }

                            @for (int i = 0; i < Model.results.Count;)
                            {
                                int CurrentSemester = (int)Model.results[i].SemesterId;
                                <h1>Semester @CurrentSemester</h1>

                                <table id="keywords" cellspacing="0" cellpadding="0" style="border:1px solid lightgray;">
                                    <thead>
                                        <tr>
                                            <th><span>Sr No</span></th>
                                            <th><span>Course</span></th>
                                            <th><span>Cr.Hr</span></th>
                                            <th><span>Obtain Marks</span></th>
                                            <th><span>Total Marks</span></th>
                                            <th><span>Percentage</span></th>
                                            <th><span>GPA</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @{
                                            decimal? semesterTotalCredits = 0;
                                            decimal? GPA = 0;
                                            decimal? Point = 0;
                                            }
                                        @for (int j = i; j < Model.results.Count && Model.results[j].SemesterId == CurrentSemester; j++, i++)
                                        {
                                        <tr>
                                            <td class="laljgn">1.</td>
                                            <td>@Model.Course[j].CourseName</td>
                                            <td>@Model.Course[j].TotalCreditHours</td>
                                            <td>@Model.results[j].ObtainMarks</td>
                                            <td>@Model.Course[j].TotalMarks</td>
                                            @{
                                                decimal? pre = (Model.results[j].ObtainMarks / Model.Course[j].TotalMarks) * 100;
                                                GPA = (Model.results[j].ObtainMarks / Model.Course[j].TotalMarks) * Model.Course[j].TotalCreditHours;
                                                Point += (Model.results[j].ObtainMarks / Model.Course[j].TotalMarks);
                                                semesterTotalCredits += Model.Course[j].TotalCreditHours;
                                                
                                            }
                                            <td>@pre</td>
                                            <td>@GPA</td>
                                        </tr>
                                        }
                                        @if (semesterTotalCredits != 0)
                                        {
                                            SemGPA = Point * semesterTotalCredits;
                                        }
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th><span></span></th>
                                            <th><span></span></th>
                                            <th><span></span></th>
                                            <th><span></span></th>
                                            <th><span></span></th>
                                            <th><span>GPA:</span></th>
                                            <th><span>@GPA</span></th>
                                        </tr>
                                    </thead>
                                </table>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </center>
</body>
</html>